
.fullCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardPicture img {
    width: 200px;
    height: 200px;
    clip-path: ellipse(50% 50%);
    margin: 15px; 
    object-fit: cover;   
}

.card {
    border: 2px solid #F99797;
    border-radius: 10px;
    padding: 2rem 2rem 0 2rem;
    margin: 2rem;
    width: 600px;
}

.cardContent h1 {
    color: #333;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
    }

.cardContent h2 {
    color: #333;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 1rem;
}

.cardContent p {
    font-style: italic;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-top: 2rem;
}

.cardButtons {
    margin-right: 10px;  
    vertical-align: middle;
    text-decoration: none;
}

.contactMe {
    background-color:#F76C6C;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    border: var(--wcs-color) solid 2px;
}

.contactMe:hover{
    background-color: var(--wcs-color-white);
    color: var(--wcs-color);
    border: var(--wcs-color) solid 2px;
}

.seeMore {
    background-color: var(--wcs-color-white);
    color: var(--wcs-color);
    padding: 10px;
    border: var(--wcs-color) solid 2px;
    border-radius: 5px;
    margin: 1rem 0 1rem 0rem;
    font-size: 13px;
    outline: none;
}

.seeMore:hover {
        background-color: var(--wcs-color);
        color: var(--wcs-color-white);
    }

@media screen and (max-width: 950px) {
    .fullCard{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        }

        .cardPicture img{
            margin: -1rem;
        }
        
}

@media screen and (min-width: 951px) {
    .reverse-order{
    flex-direction: row-reverse;
    }
}

@media screen and (max-width: 500px) {
    .cardFooter{
        display: grid;
        grid-template-columns: max-content;
        grid-gap: 1rem;
    }
    .card{
        width:280px;
    }
}

@media screen and (max-width: 360px) {
    .cardFooter{
        display: grid;
        grid-template-columns: max-content;
        grid-gap: 1rem;
    }
}