
.fullCardLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fullCardRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardPicture img {
    width: 200px;
    height: 200px;
    clip-path: ellipse(50% 50%);
    margin: 15px; 
    object-fit: cover;   
}

.card {
    border: 2px solid #F99797;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    margin: 15px;
    width: 600px;
}


.cardContent h1 {
    font-weight: bold;
    font-size: 20px;
    }

.cardContent h2 {
    font-weight: 600;
    font-size: 15px;
}

.cardContent p {
    font-style: italic;
}

#cardButtons {
    margin-right: 10px;  
}



.contactMe {
    background-color:#F76C6C;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.seeMore {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-left: 300px;
}