* {
    padding: 0;
}

html{
    --wcs-color: #F76C6C;
    --wcs-color-lighter: #F99797;
    --wcs-color-white: #FFF;
    color: var(--wcs-color);
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.popup_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* COLORS CLASSES */
.color-white {
    color: #fff;
}

.color-light-salmon {
    color: #FFD7D7;
}

.color-salmon {
    color: #F76C6C;
}

.header {
    height: 15rem;
    width: 100%;
    background-color: #F76C6C;
}

#img {
    height: 20rem;
    border-radius: 50%;
    border: 6px solid #fff;
    position: relative;
    top: -10rem;
}

#presentation {
    position: relative;
    margin-top: -10rem;
}

.list {
    text-align: center;
}

.list ul li {
    text-align: left;
}

#experience {
    margin-left: 2rem;
    margin-right: 2rem;
}

#contact_btn {
    color: white;
    padding: 1rem;
    border: 0px solid #fff;
    border-radius: 5px;
    background-color: #F76C6C;
    outline: none;
}