#listing-title{
    font-variant-caps: all-small-caps;
    font-size: 3rem;
    margin: 3rem 0px 1rem;
    color: var(--wcs-color);
}

/* vv Maybe Place Holder vv */
.page-listing p{
    font-size: 1.6rem;
    color: #333;
}
/* ^^ Maybe Place Holder ^^ */

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    padding: 1rem;
}

#listing-logo{
    height: 120px;
    margin: 2rem 0px -30px;
    fill: var(--wcs-color);
    animation: rotationPonctual 8s .7s ease-in-out;
}

#profil-list{
    justify-content: center;
    margin:  auto ;
    max-width: 1200px;
}

#back-button{
    padding: 1rem;
}

#welcome-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.fullCard{
    animation: sliding .5s ease-out forwards;
    opacity: 0;
    animation-delay: .5s;
}

@keyframes sliding{
    0%{
        transform: translate(0, 200%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }

}

@keyframes rotationPonctual {
    0%{ transform: rotate3d(0,0,0, 0);}
    10%{ transform: rotate3d(0,1,0, 180deg);}
    100%{ transform: rotate3d(0,1,0, 180deg);}
    }

.fullCard:nth-child(1) {animation-delay: .0s; }
.fullCard:nth-child(2) {animation-delay: .1s; }
.fullCard:nth-child(3) {animation-delay: .2s; }
.fullCard:nth-child(4) {animation-delay: .3s; }
.fullCard:nth-child(5) {animation-delay: .4s; }

@media screen  and (max-width: 950px) {
    #welcome-section{
        flex-direction: column-reverse;
        align-items: center;
    }
    #back-button{
        padding: 1rem 8rem;
    }
}
