html{
    --wcs-color: #F76C6C;
    --wcs-color-lighter: #F99797;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

h1{
    font-variant-caps: all-small-caps;
    color: var(--wcs-color);
}

.container{
    display: flex;
    max-width: 1140px;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerplaceholder{
    background-color: var(--wcs-color);
    height: 120px;
}

.footerplaceholder{
    background-color: var(--wcs-color);
    height: 80px;
}

#content{
    min-height: calc(100vh - 200px);
}

#listing-logo{
    height: 120px;
    margin: 4rem 0px -30px;
    fill: var(--wcs-color);
}

#profil-list{
    /* background-color: var(--wcs-color-lighter); */
    justify-content: center;
    margin: 2rem auto 5rem;
    width: 800px;
    }

.profil{
    display: inline-flex;
    border: 2px solid red;
    margin: 10px;
    width: 600px;
    padding: 10px;
}

.profil-picture{
    border-radius: 50%;
    margin: 10px;
}