html {
    font-size: 100%;
}

.popup_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    height: 15rem;
    width: 100%;
    background-color: #f76c6c;
}

#img {
    height: 20rem;
    border-radius: 50%;
    border: 6px solid white;
    position: relative;
    top: -10rem;
}

.presentation {
    position: relative;
    margin-top: -180px;
    text-align: center;
}

.list {
    text-align: center;
}

.list ul li{
    text-align: left;
}


#contact_btn {
    color: white;
    padding: 1rem;
    border: 0px solid white;
    border-radius: 5px;
    background-color: #f76c6c;
}