/* REGIONS FILTER MAP CLASSES */

#map{
    width: 30%;  
}
#map-svg{
    fill:rgba(255, 30, 0, 0.274);
    stroke: white;
    stroke-width: 6px;
}

#map-svg path:hover{
    fill: var(--wcs-color-lighter);
    stroke-width: 6px;
}