#map{
    width: 30%;
    overflow: hidden;
    margin-bottom: 5rem;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/* justify-content: flex-start; */
	align-items: flex-start;
	/* align-content: flex-start; */
    /* margin: auto; */
}
#map-svg{
    fill:rgba(255, 30, 0, 0.274);
    stroke: white;
    stroke-width: 6px;
}

#map-svg path:hover{
    fill: var(--wcs-color-lighter);
    stroke-width: 6px;
}

.red-btn{
    background-color: var(--wcs-color-lighter);
    color: white; 
    border: solid 2px white;
    border-radius: 5px;
    padding: .5rem;
    padding-right: 1rem;
    margin: 1rem;
}
.red-btn:hover{
    background-color: white;
    color: var(--wcs-color);
    border-color: var(--wcs-color-lighter);
    transform: scale(1.1);
}